<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Deblurring Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Image Deblurring Application</h1>
        </div>
    </header>
    <div class="container">
        <h2>Uploaded Blurred Image</h2>
        <img src="{{ blurred_image }}" alt="Blurred Image">
        <h2>Corresponding Unblurred Image</h2>
        <img src="{{ unblurred_image }}" alt="Unblurred Image">
    </div>
</body>
</html>
